<div id="header" class="clearfix">
        <a id="logo">
            <img id="digi-logo" src="" alt="" title="" />
        </a>
</div>
<div id="navigation">
	<div class="menu-digimenu-container">
        <ul id="menu-digimenu" class="menu">
            <li id="menu-item-2403" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2403"><a  href="/">HOME</a></li>
            <li id="menu-item-2405" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2405"><a  href="/vulnerability/">VULNERABILITY</a></li>
            <li id="menu-item-2404" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2404"><a  href="/protocol/">PROTOCOL</a></li>
            <li id="menu-item-2415" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2415"><a  href="/malware/">MALWARE</a></li>
            <li id="menu-item-2406" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2406"><a  href="/search/">SEARCH</a></li>
            <li id="menu-item-2407" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2407"><a  href="/submit/">SUBMIT</a></li>
            <li id="menu-item-2407" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2407"><a  href="/about/">ABOUT</a></li>
        </ul>
	</div>
</div>

